
.btn-primary{
    @apply px-7 py-2 bg-green-400 text-white rounded hover:bg-slate-400 transition-all duration-300 hover:-translate-y-4;
}

* {
    /* outline: 1px solid red; */
    max-width: 100%;
  }